
<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>menu</title>

    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

</head>

<body class="d-flex flex-column min-vh-100">

    <header class="navbar shadow">
        <p>loja web</p>
    </header>

    <main>

        <h1>Bem vindo</h1>

        <div class="container">

            <div id="cliente">
                <i class="bi bi-person fs-1 me-3"></i>
                <a th:href="@{/cliente}">Cadastrar Cliente</a>
            </div>

            <div id="funcionario">
                <i class="bi bi-person-lines-fill fs-1 me-3"></i>
                <a th:href="@{/funcionario}">Cadastrar Funcionario</a>
            </div>

            <div id="fornecedor">
                <i class="bi bi-truck fs-1 me-3"></i>
                <a th:href="@{/fornecedor}">Cadastrar Fornecedor</a>
            </div>

            <div id="produto">
                <i class="bi bi-box2-heart fs-1 me-3"></i>
                <a th:href="@{/produto}">Cadastrar Produto</a>
            </div>

            <div id="categoria">
                <i class="bi bi-tag-fill fs-1 me-3"></i>
                <a th:href="@{/categoria}">Cadastrar Categoria</a>
            </div>

            <div id="venda">
                <i class="bi bi-cart2 fs-1 me-3"></i>
                <a th:href="@{/venda}">Realizar Venda</a>
            </div>

            <div id="relatorio">
                <i class="bi bi-clipboard-data fs-1 me-3"></i>
                <a th:href="@{/relatorio}">Relatorio do dia</a>

                <p>
                    visualize o resumo das vendas e informações do dia.
                </p>
            </div>

        </div>

    </main>

    <footer class="text-white text-center shadow">
        <p>Copyright &COPY; - 2026</p>
    </footer>

</body>

</html>

